.image-box {
    width: 100%;
}

.image-box img {
    width: 100%;
    border: 3px solid white;
    border-radius: 20px;
    display: block;
    height: 600px;
    object-fit: cover;
}

/* Mobile screens only - 250px height */
@media (max-width: 768px) {
    .image-box img {
        height: 450px;
        object-fit: cover;
    }
}