<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

# 301 Redirects for service URL changes
Redirect 301 /magazine-and-booklet-design https://chameleogfxstudio.com/magazine-and-booklet-design-ahmedabad
Redirect 301 /event-invitation-design https://chameleogfxstudio.com/event-invitation-design-ahmedabad
Redirect 301 /menu-design https://chameleogfxstudio.com/menu-design-service-ahmedabad
Redirect 301 /signage-design https://chameleogfxstudio.com/signage-design-service-ahmedabad
Redirect 301 /corporate-profile-design https://chameleogfxstudio.com/corporate-profile-design-ahmedabad
Redirect 301 /annual-report-design https://chameleogfxstudio.com/annual-report-design-agency-ahmedabad
Redirect 301 /digital-ad-design https://chameleogfxstudio.com/digital-ad-design-agency-ahmedabad
Redirect 301 /trade-show-booth-design https://chameleogfxstudio.com/exhibition-booth-design-ahmedabad/
Redirect 301 /motion-graphics-design https://chameleogfxstudio.com/motion-graphics-design-agency-ahmedabad
Redirect 301 /e-book-design https://chameleogfxstudio.com/e-book-design-service-ahmedabad

# 301 Redirect for blog URL change
Redirect 301 /how-ai-is-revolutionizing-seo-in-2025-human-centric-guide-for-business-growth https://chameleogfxstudio.com/blog/how-ai-is-revolutionizing-seo-in-2025-human-centric-guide-for-business-growth

